<style>
  .row {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    background-color: rgb(223, 211, 195, 0.5) !important;
    font-size: 20px !important;
    border-radius: 50px 50px 50px 50px;

  }

  /* Body background is now handled by global.css */

  .btn {
    background-color: #7D6E83 !important;
    border: 0 !important;
    border-radius: 10px 10px 10px 10px;
  }

  .btn1 {
    background-color: rgb(248, 237, 227, 0.6) !important;
    border: 0 !important;
    border-radius: 10px 10px 10px 10px;
  }
</style>
<div style="margin-top: 100px; padding: 0;"><br>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h4 class="text-center">Request New Case</h4><br>
      <div class="card card-body" style="padding: 2rem;">
        <form action="/helpcases" method="POST">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <div class="form-group">
            <label for="title">Title</label>
            <input type="text" name="title" class="form-control" />
          </div><br>
          <div class="form-group">
            <label for="details">Details</label>
            <textarea name="details" class="form-control" rows="5"></textarea>
          </div>
          <div class="text-center">
            <button type="submit" class="btn text-white text-center">Submit</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>