<div class="container-fluid px-2">
{{#each errors}}
<div class="alert alert-danger text-center w-100" role="alert">{{text}}</div>
{{else}}
{{/each}}

{{#if fail_passport}}
<div class="alert alert-danger text-center w-100" role="alert">{{fail_passport}}</div>
{{/if}}
</div>