<div class="container-fluid px-2">
{{#each errors}}
<div class="alert alert-danger text-center w-100" role="alert" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); z-index: 1000;">
  <i class="fas fa-exclamation-circle mr-2"></i>{{text}}
</div>
{{else}}
{{/each}}

{{#if error}}
<div class="alert alert-danger text-center w-100" role="alert" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); z-index: 1000;">
  <i class="fas fa-exclamation-circle mr-2"></i>{{error}}
</div>
{{/if}}

{{#each fail_passport}}
<div class="alert alert-danger text-center w-100" role="alert" style="border-radius: 15px; box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); z-index: 1000;">
  <i class="fas fa-exclamation-circle mr-2"></i>{{__ message}}
</div>
{{/each}}
</div>