<div style="margin-top:100px">
{{#if success_msg}}
<div class="alert alert-success alert-dismissible">{{success_msg}}</div>
{{/if}}

{{#if error_msg }}
<div class="alert alert-danger alert-dismissible">{{error_msg}}</div>
{{/if}}
</div>