<div class="container-fluid px-2">
{{#if success_msg}}
<div class="alert alert-success text-center w-100" role="alert">{{success_msg}}</div>
{{/if}}

{{#if error_msg }}
<div class="alert alert-danger text-center w-100" role="alert">{{error_msg}}</div>
{{/if}}
</div>