<style>
  .row {}

  .card {
    margin: 0 auto;
    float: none;
    margin-bottom: 10px;
    background-color: rgb(223, 211, 195, 0.5) !important;
    font-size: 20px !important;
    border-radius: 50px 50px 50px 50px;
  }

  /* Body background is now handled by global.css */

  .btn {
    background-color: #7D6E83 !important;
    border: 0 !important;
    border-radius: 10px 10px 10px 10px;
  }

  .btn1 {
    background-color: rgb(248, 237, 227, 0.6) !important;
    border: 0 !important;
    border-radius: 10px 10px 10px 10px;
  }

  /* Mobile-specific styles */
  @media (max-width: 767.98px) {
    .card {
      border-radius: 30px !important;
      width: 100% !important;
    }

    .form-control {
      width: 100% !important;
    }

    .form-group {
      width: 100% !important;
    }
  }
</style>
<div style="margin-top:100px"><br><br>
  <div class="row">
    <div class="col-md-6 mx-auto">
      <h3 class="text-center">Account Login</h3><br>
      <div class="card card-body">
        <form action="/users/login" method="post">
          <input type="hidden" name="_csrf" value="{{csrfToken}}" />
          <div class="form-group"><br>
            <label for="usernameInput">Username</label>
            <input type="username" name="usernameInput" class="form-control" required />
          </div><br>
          <div class="form-group">
            <label for="password">Password</label>
            <input type="password" name="passwordInput" class="form-control" required autocomplete="current-password" />
          </div><br>
          <div class="text-center">
            <button type="submit" class="btn text-white text-center">Submit</button>
          </div>
        </form><br>
      </div>
    </div>
  </div>
</div>